#wrapper{
 background-color:#ffffff;
}
.header-section {
	background: url("../images/img-bg/head-defautl.png") no-repeat center top;
    background-size: cover;
}
.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}
.navbar-nav > li > a {
    color: #444 !important;
}
.navbar-nav > li > a:hover{
	color:#ED2527!important;	
}
.navbar-default {
    background-color: #ffffff;
} 
.navbar-default .navbar-nav > li > a {
	color: #121212;
}
.navbar-default .navbar-nav > .active > a, .current_page_item, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #f8504b!important;
	background-color: rgba(248, 80, 75, 0);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
   background-color: rgba(255, 0, 0, 0)!important; 
}

.navbar-nav > li > a:hover {
    color:  #f8504b !important;
}
.dropdown-menu > li > a {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
	color: #fff!important;
	background-color: #f8504b !important;
  font-family: 'PathwayGothicOneRegular';	
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color:#fff !important;
    background-color:#d22129 !important
}
.dropdown .fa-angle-down{	
	background-color: #FFFFFF;
    border: 1px solid #121212;
    color: #F8504B;
	}
li.dropdown:hover .fa-angle-down, li.dropdown.active .fa-angle-down{	
	background-color: #FFFFFF;
	border: 1px solid #ffffff;
    color: #F8504B;
}
.navbar-default .navbar-toggle {
    border-color: #f8504b!important;
}
.navbar-toggle:hover{
	background-color: #f8504b!important
}
/*------Main Slider-----------------------------------*/
.carou-direction-nav .carou-prev {
	 opacity: 0.7; 
	 color:#fff; 
}
.carou-direction-nav .carou-next {
	  opacity: 0.7;
      color:#fff;	  
}
.carou-direction-nav .carou-prev:hover {
	 opacity:1; 
	 color:#fff;
	 background-color: #f8504b;
}
.carou-direction-nav .carou-next:hover {
	  opacity:1;
      color:#fff;
      background-color: #f8504b;	  
}
/*--Button--------*/
.main-btn {
color:#fff;
	background-color:#f8504b !important;
	opacity:0.7;
	border:2px solid #f8504b!important;
}
.main-btn a {
color:#fff;}
.carou-direction-nav .carou-next {
    opacity: 0.7;
}
.carou-direction-nav a {
    background-color: rgba(0,0,0, 0.7);
}
/*-----------------section-1-start---------------------*/
.home-service-top{
	background-image: url(../images/bg.png);
}
.service-icon  {
	background-color:#f8504b;
}
.service-icon a i{color:#fff;}
.service-icon  h1{
	  color:#444444;
}
.service-content{
	border-right:1px solid #aaa;
}
/*------------------------section-2---------------*/
.callout-section {
    background: url("../images/gallery2-02.jpg") no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0);
}
.overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
}
.introduce h1{
	color:#fff;
}
.introduce p{
	color: #fff;	
}
.post-heading h6 a{
	color:#f8504b;
}
.post-heading h1 a{
	color:#333;	
}
.post-heading h1 a:hover{
	color:#f8504b;	
}
h2 a { color:#333; }
h2 a:hover { color:#f8504b; }
.introduce-inner-shep{
	background-color:#fff;
}
.gallery_extended-name:hover h2{color:#f8504b;}
ul.activitiesc li a{
	color:#f8504b;
}
ul.activitiesc li a:hover{
	color:#333;
}
.comment-post{
	border-top:1px solid #ddd;
}
.comment-post li {
	border-right:1px solid #ddd;
}
.comment-post li a{
	color:#333;
}
.comment-post li a i {
	color:#f8504b;
}
ul.comment-post li:hover{
	background-color:#f8504b;
	line-height: inherit;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}
ul.comment-post li:hover a i{
	color:#fff;
}
ul.comment-post  li:hover a{
	color:#fff;
}
/*----------------------------section-3---------------------*/
.section-teachers{
    background-image: url(../images/bg-lg.png);
    background-repeat: repeat-x; 
}
.section-teachers-inner{
	background: url("../images/img-bg/head-defautl.png") no-repeat center top;
    background-size: cover;
}
.section-teachers h6{
	color:#f8504b;
}	
.teacher-name{
	background-color:#fff;
}
.teacher-name h5{
	color:#f8504b;
}
/*------------------------------section-4----------------------*/
.home-gallery-img .gallery-showcase-icons a {
    color:#FFF;
     background:#f8504b; 
}
.gallery-showcase-overlay {
    background: #000000;
}
.home-gallery-img .gallery-showcase-icons a:hover {
    opacity: 1;
}
.home-gallery-col:hover .gallery-showcase-overlay {
    opacity: 0.8;
}
/*----------------------section-5-------------*/
.all-children h6{
	color:#ed2527;
}
.all-children-text h6{
	color:#f8504b;
}
/*----------------------------section-6-----------------------*/
.pre-classes {
	background: url("../images/gallery2-02.jpg") no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0);
}
.pre-school{
	background-color:#fff;
}
ul.gallery-tabs {
	border-bottom: 1px solid #ddd;
}
ul.gallery-tabs li {
	border-right: 1px solid #ddd;
}
ul.gallery-tabs li.active > a, ul.gallery-tabs li > a:hover {
    color: #fff;
    background-color:#f8504b;
}
.gallery-tabs li a {
	color:#444444;
}
.pre-sclass  h1{
	color:#444444;
}
.pre-sclass p{
	color:#858585;
}
.btn-default{
    color:#fff!important;
    background-color:#f8504b!important;
    border: 1px solid #f8504b!important;
}
.btn-default i{
	font-size:18px;
} 
/*---------section-8--------------------*/
.min-btn{
	background-color:#f8504b!important;
	border:1px solid #f8504b!important;
}
.min-btn:hover{
	background-color:#fff!important;
	border:1px solid #f8504b!important;
	color:#000!important;
}
.extended-btn a{
	background-color:#f8504b;
	color:#fff;
	border:1px solid #f8504b;
}
.extended-btn a:hover{
	background-color:#fff;
	color:#000!important;
}

.recent-post h5:hover{
	font-weight:bold;
	color:#aaa;
}
/*----------------section-9-bottom-footer-------#A6720A-------*/
.bottom-footer {
    background: url("../images/img-bg/footer-default.jpg") no-repeat center top;
    background-size: cover;
}
.hi-icon-wrap i {
    color: #fff;
}
.link {
    background-color: #00aced;
}
.link:hover{
    background-color:#0589BB;
}
.google {
    background-color: #d34836 !important;
}
.google:hover{
    background-color: #943326 !important;
}
.twitter {
    background-color:#00aced;
}
.twitter:hover{
    background-color:#0589BB
}
.facebook {
    background-color: #3B5998!important;
}
.facebook:hover{
    background-color:#2C426F!important;
}
/*---------------copy-right-&-last--------------*/
.copy-right{
	background: url("../images/img-bg/last-footer-default.png") no-repeat center top;
    background-size: cover;
}
.copy-right-inner p{	
	color: #898989;
	font-family:'roboto-light';
}
/*---Testimonial Section-----------------------*/
#quote-carousel .carousel-control {
    color: #CACACA;
}
#quote-carousel .carousel-indicators li {
	border-color:#fff;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
	border-color:#fff;
    opacity: 1;
}
.testimonial-text h6{
	color:#f8504b;
}
.testimonial-text h3{
	color:#444444;
}
/*------------------blog-pade-start-----------------------*/
.page-header-top{
	background: url("../images/mennu-img.png");
}
.page-header-inner ul li a{
	 color:#f8504b;
}
.page-header-inner ul li.active > a,.page-header-inner ul li > a:hover {
    color: #333;
}
.course-area-blog{
	border: 1px solid #e5e5e5;
}
.post-heading-blog:hover h2  {
	color: #f8504b; 
 }
.post-heading-blog p{
   color:#707070;
}
.blog-post-detail ul li a{
	color:#f8504b;
}
.blog-post-detail ul li a:hover{
	color:#333;
}
.blog-post-detail ul li i{
	 color:#333;
}
a span.date-post{
	background-color:#f8504b;
	color:#fff;
}
.lick-post{
	background-color:#333;
	color:#fff;
}
.lick-post a{
	color:#fff;
}
.lick-post a:hover{
	color:#f8504b;
}
/*----------------blog-right-side-baar----------------*/
.div-blog-inner{
	border-bottom:2px solid #aaa;
}
.blog-containt-img img:hover{
	opacity:0.7;
}
.blog-date {
	border-bottom:1px dotted #aaa;
}
.blog-date li a{
	color:#000!important;
}
.blog-date li i{
	color: #0ca2c0;
}
/*-------------------sidebar----------*/
.blog-text{
	color:#999999;
}
.blog-recent-post{
	border-top:1px dotted #aaa;
}
.blog-recent h3{
	 font-weight:bold!important;
	 color:#525252;
}
.blog-recent:hover h3{
	color:#f8504b;
}
.sm-sidebar-post{
	border-bottom:1px dotted #bbb;
}
.media-body h4 a{
	color:#777;
}
.media-body h4 a:hover{
	color:#000;
}
.media-body h4 i{
	color:#f8504b;
}
.media-body p{
	color:#A0A0A0;
}
.posts-Categories li{
	border-top: 1px dotted #9D9D9D;	
}
.posts-Categories li a{
	color:#707070;
}
.cat-border-show{
	border-bottom: 1px dotted #9D9D9D;
}
.posts-Categories li i{
	color:#f8504b;
}
.posts-Categories li span{
	color:#f8504b;
 }
.sm-sidebar-widget-tags a{
    border: 1px solid #f8504b;
    color: #000;
}
.sm-sidebar-widget-tags a:hover{
	background-color:#f8504b;
	color:#fff;
}
.blog_extended{
	border:1px solid #333;
}
/*---------------------Contact us-------------------------*/
.cont-left-submit{
	background-color:#ccc;
	border:2px solid #aaa;
}
.cont-left-inf{
	border:2px solid #aaa;
	background-color:#ccc;
}
.ch-item-border{
	border:2px solid #f8504b!important;
}
/*---------------Blog-post-----------------------------*/
.com-user-name h5 i{
	color:#f8504b;
}
.com-user-name p{
	color:#777;
}
.blog-title-slide{
	border:1px solid #ddd;
}
.blog-post-title h4{
	color:#737373;
}
.blog-post-title p{
    color:#777;
}
.text-slider-about p i{
   font-size:25px;
   color:#f8504b;
   margin-right:20px;
}
.user_detail{
	border:1px solid #ddd;
	margin-top: 80px;
}
.course-area-blog-post ul li a {color:#f8504b;}
.course-area-blog-post ul li a:hover {color:#333;}
.colam-user-name h5 i a{ color:#f8504b;}
.course-area-blog-post ul li a i{
	font-size:15px;
}
/*---------slid-blog-post----------*/
.comment_title h3{color:#555;}
.comment_title h3 i{color:#ccc;}
.comment_detail {border:1px dotted #ccc;}
.comment_detail p{color:#777;}
.reply a { color:#f8504b;}
.reply a:hover { color:#333;}
/*------------------form-blog--------------------*/
/*----------------blog_extended----------------------*/
.blog_extended-name h2{
	color:#434343;
}
.blog_extended-name:hover h2{
	color:#f8504b;
}
.blog_extended-name h5{
	color:#f8504b;
}
.blog_extended-name p{
	color:#9b9b9b;
}
.blog_extended{
	border:1px solid #ddd!important;
}
/*--------end-all-blog-page----------------------*/
/*-------page-gallery-start---------------------*/
ul.galler-mennu li.active > a, ul.galler-mennu li > a:hover {
    color: #fff;
    background-color:#f8504b;
}
.galler-mennu li a {
	border:1px solid #f8504b;
	color:#f8504b;
}
/*---------------------gallery_regular-----------------------*/

/*-------------------gallery_full_width-------------------------------*/
.gallery-img-name h2{
	color:#434343;
}
.gallery-img-name h5{
	color:#f8504b!important;
}
.gallery_extended {
	border:1px solid #ddd;
}
.gallery_extended-name p{
	color:#777;
}
/*------Event-page-start-----------------------*/
.event-containt{
	border:1px solid #ddd;
}
.event-cont-right h4{
	color:#626161;
}
.event-cont-right:hover h4  {
	color: #e32235; 
 }
.event-cont-right ul li a i{
	color:#f8504b;
}
.event-cont-right ul li a{
	color:#666;
}
/*--------------------event-page-2------------------*/
.event-title ul li i{
	color:#f8504b;
}
.event-title h1{
	color:#555;
}
.event-title p{
	color:#777;
}
.img-shadow{
    background: url("../imags/slide-shadow.png"); 
}
/*-------------------------contact-page-start------------------*/

.contact-info{
	border-top:1px dotted #ddd;
	border-bottom:1px dotted #ddd;
}
.contact-info h4 i{
	color:#f8504b;
}
.contact-info p {
	color:#939393;	
}
/*---------------about-page-staer--------------------*/
.about-colam-text h1{
	color:#646464;
}
.about-colam-text h4{
	color:#757474;	
}
.about-colam-text p{
	color:#777;
}
.about-services p {
	border-bottom:1px solid #ddd;
	color:#757474;
}
.about-services i{
	background-color:#f8504b;
	color:#fff;
}
/*----------------page-member-start-------------------*/
.text-slider-about p{
	color:#777;
}
.text-slider-about h5{
	color:#f8504b;
}
.member-exended-img{
	background: url("../images/blog-4.png") no-repeat center top;
	background-size: 350px;
}
.member-exended-img:hover{
	background: url("../images/ch-img-9.png") no-repeat center top;
	background-size: 350px;
}
.member-leftbar h1{
	color:#f8504b;
}
.member-info{
	border-top:1px dotted #ddd;
	border-bottom:1px dotted #ddd;
}
.member-info h4 i{
	color:#f8504b;
}
.member-info p {
	color:#939393;	
}
.member-rightbar h1 {
    color: #666;
}
.member-rightbar p{
	color:#777;
}
.member-Categories li {
    border-top: 1px dotted #ddd;
}
.member-Categories li i {
    color: #f8504b;
}
.member-mennu{
    background-color: #fff;
}
ul.member-tabs {
    border-bottom: 1px solid #ddd;
	background-color:#555;
}
ul.member-tabs li {
	border-right: 1px solid #ddd;
    background-color:#555;
}
ul.member-tabs li a {
	 color: #fff;
}
ul.member-tabs li.active > a, ul.member-tabs li > a:hover {
    color: #fff;
    background-color:#f8504b;
}
.member-tabs li a {
	color:#444444;
}
.member-mennu-box{
	border:1px solid #ddd;
}
.tab-blography p{
	color:#777;
}
.tab-career p{
	color:#777;
}
/*------------------page-not-found---------------------------*/
.page-not-found{
    background-size: cover;
}
.page-not-found-inner h1{
	color:#f8504b;
}
.page-not-found-inner h2{
	color:#555;
}
.page-not-found-inner h3{
	color:#ACACAC;
}
.page-not-found-inner h5{
	color:#ACACAC;
}
.page-not-found-inner p{
	color:#ACACAC;
}
/*--------Gallery Slider--------------------*/
/* reflect */
.ms-skin-default .ms-nav-next, .ms-skin-default .ms-nav-prev {
   background: url(../images/light-skin-1.png);
   background-position: -89px -26px;
}
.ms-skin-default .ms-nav-next {
	background-position: -89px -103px;
}
.hc_scrollup {
    background:#f8504b;
}
.hc_scrollup i {
    color: #fff;
}
/*-------page-404-grid----------------*/
.page-not-found-inner ul li{
	background-color:#f8504b;
	color:#fff;
}

/*------new-style------------------*/
.blog-pagination a:hover, .blog-pagination a.active {
    background-color:#333;
    color: #FFFFFF;
}
.blog-pagination a {
    background-color:#f8504b;
    color: #fff !important;
}
.comment_form_section h2 {
    color: #444444;
}
.staff-thumb-inner {
  background: #fff;  
	box-shadow: 0 0 1px #fff
}
.staff-content{
	border-bottom:3px solid #f8504b;
	border-radius:5px;
}
.staff-thumb:hover .staff-content {border-bottom:3px solid #f8504b; background:#f8504b;}
.staff-thumb.staff-content h4 {
    margin:0;
	font-style:italic;
}
.staff-thumb:hover .staff-content h4 {
    color: #fff;
}
.staff-thumb:hover .staff-content p{
    color: #fff;
}
.staff-content p {
	color:#f8504b;
}
.ms-staff-carousel .ms-staff-info h4{
	color:#f8504b;
}
.staff-thumb:hover .staff-content:after {
	border-bottom: 11px solid #f8504b;
}
.staff-thumb:hover .staff-content h4 {
    color: #fff;
}
.staff-thumb:hover .staff-content p{
    color: #fff;
}
.post-content li span {color: #f8504b;}
ul.post-content li a{color: #707070;}
/* ul.post-content li i {color: #f8504b !important;} */
ul.post-content li a span { color: #f8504b;}
.recent-post h6 {
    color: #f8504b;
}
.copy-right-inner p a { color:#333; }
.copy-right-inner p a:hover { color:#f8504b; }
.blog-post-title p a{ color:#333; }
.blog-post-title p a:hover{ color:#f8504b; }